certifi >= 14.05.14
future; python_version<="2.7"
six >= 1.10
python_dateutil >= 2.5.3
setuptools >= 21.0.0
urllib3 >= 1.15.1
kubernetes >= 18.20.0
fsspec~=2023.12.2
s3fs~=2023.12.2
python-dateutil~=2.8.2